<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load bootstrap_calendar %}
{% load url from future %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Holiday Planner</title>
    <meta name="description" content="">
    <meta name="author" content="Paul Rad">
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <script type="text/css" src="{% bootstrap_calendar_css %}"></script>
    <script type="text/javascript" src='{% bootstrap_calendar_js language="lang-code" %}'></script>
	<script type="text/javascript" src='{% bootstrap_calendar_init language="lang-code" %}'></script>
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>

<body>
<div class="container">

    {% bootstrap_messages %}

    {% block content %}Empty page{% endblock %}

    <p><hr></p>

    <footer class="row">
        <div class="span6">
            <p>This is <a href="https://github.com/pauldespre/holiday-planner">holiday-planner</a></p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; Paul Rad</a> 2014
            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>